<div class="card p-3 mt-3">
  <form (submit)="saveContact(); $event.preventDefault()">
    <input [(ngModel)]="contact.fName" name="fName" required />
    <input class="form-control mb-2" placeholder="First Name" [(ngModel)]="contact.fName" name="fName" required />
    <input class="form-control mb-2" placeholder="Last Name" [(ngModel)]="contact.lName" name="lName" required />
    <input class="form-control mb-2" placeholder="Phone Number" [(ngModel)]="contact.phoneNumber" name="phone" required />
    <input class="form-control mb-2" placeholder="Email Address" [(ngModel)]="contact.email" name="email" required />
    <button class="btn btn-primary" type="submit">
      {{ contact.id ? 'Update' : 'Add' }} Contact
    </button>
  </form>
</div>
